<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :lesson_id, style: "display: block" %>
    <%= form.collection_select :lesson_id, Lesson.all, :id, :title %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :game_type, style: "display: block" %>
    <%= form.select :game_type, [["Memory Match", "memory_match"]] %>
  </div>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.number_field :position %>
  </div>

  <%= form.fields_for :options, OpenStruct.new(game.options || {}) do |options_form| %>
    <div>
      <%= options_form.label :words, "Memory Match Words (comma separated)", style: "display: block" %>
      <%= options_form.text_field :words, value: (game.options&.fetch("words", nil) || Game::DEFAULT_WORDS.join(", ")) %>
    </div>
  <% end %>

  <div style="margin-top: 10px;">
    <%= form.submit %>
  </div>
<% end %>
